*{
    background-color: #0a141d;
}
.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a1a2a;
}
.btn {
    margin:0 20px  0 20px
}
.title {
    font-size: 50px;
    color: white;
    margin: 3%;
}
h1{
    color: white;
}
.carrito{
    background-color:  #0a1a2a;
    
}
h2{
    display: inline;
    color: white;
    background-color:#0a1a2a;
    font-size: 25px;
    margin: 50px 0 0 10px;
    
}
.carritoYnumero{
    background-color:#0a1a2a;
    justify-content: center;
    
}